language: python
python:
        - 3.7
before install:
        - python --version
        - pip install -U pip
        - pip install -U pytest
        - pip install codecov
        - pip install virtualenv
install:
        - virtualenv venv
        - source venv/bin/activate
        - pip install -r requirements.txt
script:
        - venv/bin/activate
        - flake8 .
        - pytest 
after_success:
        - codecov
        
